
---
const pageTitle = "About Me";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
	</head>
	<body>
<a href="/">Home</a>
<a href="/about/">About</a>
 <a href="/blog/">Blog</a>

<h1>{pageTitle}</h1>
<h2>... and my new Astro site!</h2>
		<h1>My Astro blastroe</h1>
        <h2>... and my new Astro site!</h2>

        <p>blah blah blah blah blah</p>

        <p>more blah blah blah</p>
	</body>
</html>
